<div class="navbar">
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "" do %>
        <i class="fas fa-microphone-alt"></i>
        Karaoke
      <% end %>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to "Öll Lög", "#anchor-songs" %>
    </li>
  </ul>
</div>
