// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-size: 2em;
  scroll-behavior: smooth;
}

@media (min-width: 780px) {
  html {
    font-size: 2em;
  }
}

body, html {
  margin: 0;
  padding: 0;
  font-family: monospace;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.page-wrapper {
  position: relative;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.page-content {
  display: flex;
  justify-content: space-around;
  z-index: 0;
  padding-bottom: 4rem;
}

.page-container {
  width: 100%;
}

.title {
  padding: 1rem 3rem;
  background-color: black;
  color: white;
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
}

.song-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
  margin-bottom: 4.25rem;
}

.instructions {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  i {
    font-size: 2rem;
  }
}

.hidden {
  display: none;
}

.song-container {
  display: none;
  padding-bottom: 3rem;
  padding-top: $navbar-height;
  margin-top: -$navbar-height;
  &.selected {
    display: block;
  }
}

.btn.btn-primary {
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 1rem 1rem;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.lyrics-container {
  display: flex;
  padding-right: 3rem;
  .lyrics-icon-container {
    font-size: 2rem;
    padding: 3rem 2rem;
  }
}

p {
  white-space: pre-line;
  font-size: 2rem;
  line-height: 3rem;
}
