// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  margin: 0;
  padding: 0;
  font-family: monospace;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.page-wrapper {
  position: relative;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.page-content {
  display: flex;
  justify-content: space-around;
  z-index: 0;
  padding-bottom: 4rem;
}

.page-container {
  width: 80%;
}

.title {
  padding: 1rem 6rem;
  background-color: black;
  margin: 0 -12.5%;
  color: white;
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
}

.song-buttons {
  display: flex;
  padding-top: 50px;
  margin-top: -50px;
}

.instructions {
  text-align: center;
}

.hidden {
  display: none;
}

.song-conatainer {
  display: none;
  padding-bottom: 3rem;
  padding-top: 50px;
  margin-top: -50px;
  &.selected {
    display: block;
  }
}

.btn.btn-primary {
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 1rem 1rem;
  margin: 2rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.lyrics-container {
  display: flex;
  .lyrics-icon-container {
    // width: 20px;
    font-size: 3rem;
    padding: 3rem 2rem;
  }
}

p {
  white-space: pre-line;
  font-size: 2rem;
}
